@{
    ViewData["Title"] = "Home Page";
}

<p>
    Ontdek lokale feestjes en evenementen met onze app! Bekijk feestjes in jouw buurt, ontvang meldingen over interessante evenementen en plan je weekendavonturen met gemak.
</p>